
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Edit Title */
.dygraph-title {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  border: 0;
}

body {
  padding: 0px;
}

/* Edit Axis Name Formats */
.dygraph-ylabel {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;

}

.dygraph-y2label {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.dygraph-xlabel {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;

}

/* Edit Axis Formatting */
.dygraph-axis-label-x {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;

}
.dygraph-axis-label-y {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

/* Edit Legend Data*/
.dygraph-legend {
	font-size: 10px !important;
	left: 80px !important;
	position: center !important;  
	background: none !important;
	font-family: 'Roboto', sans-serif !important; 
	font-weight: normal !important;
}


#htmlwidget_container:after {
  content: "Data Source: London Metal Exchange";
  position: relative;
  left: 5%;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}


